

* { margin: 0; padding: 0; box-sizing: border-box; }
body {
   background: #0a0a0a;
   font-family: 'Inter', sans-serif; 
   color: #fff; }

.nav{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  
}

.log-nav{
  color: #fff;
  
  

  
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
}

.nav-links a { 
  color: white;          
  text-decoration: none;
}




  .nav-links a {
  color: gray;
  text-decoration: none;
  font-weight: 60;
  transition: color 0.3s ease;
}




.nav-active{
  border-radius: 30px;
  width: 100px;
  height: 40px;
  
}


.work {
  color: white;
  margin-top: 200px;
}

.button{
  background-color: black;
  border-radius: 10px;
  color: gray;
  width: 200px;
  height: 25px;
  margin-left: 20px;
  border-radius: 50px;
}
.h1{
  margin-left: 20px;
  margin: 20px;
  line-height: 1.1;
  font-weight: 700;
}
.p{
  margin-left: 20px;
  margin: 20px;
  color: #a3a3a3;
  line-height: 1.6;
  font-size: 1.1rem;
}

.button-1{
  margin: 20px;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 170px;
  background-color: white;
  

}

.button-2{
  margin-left: 20px;
  border-radius: 50px;
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
}

